name: programming task

on:
  workflow_dispatch:
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: cleanup
        run: |
          sudo du -a -h /path | sort -h -r | head -n 100
